body{
    background: blue;
}
#container{
    height: 100px;
    width: 30%;
    transition: 2 ease width ;
    background: red;
}
.col{
    height: 50px;
    width: 30%;
    transition: 2 ease width ;
    background: red;
}
